* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: #0b630b;
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./image.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.first_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 30px 70px;
}
@media (max-width: 888px) {
  .first_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 20px 50px;
  }
}

.logo {
  color: var(--primary-color);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 888px) {
  .logo {
    gap: 10px;
  }
}
@media (max-width: 704px) {
  .logo {
    flex-direction: column;
  }
}
@media (max-width: 490px) {
  .logo {
    flex-direction: row;
    gap: 30px;
  }
}
.logo p {
  text-transform: uppercase;
  display: flex;
  font-weight: 900;
}
.travel {
  font-weight: 100;
}
.icon {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.icon > input {
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 100%;
}

.icon > input::placeholder {
  color: var(--primary-color);
  font-size: xx-small;
}

.flag_phone {
  color: var(--primary-color);
  display: flex;
  gap: 30px;
}

@media (max-width: 888px) {
  .flag_phone {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 490px) {
  .flag_phone {
    display: none;
    gap: 10px;
  }
}

.flag_phone > img {
  height: 15px;
  width: 28px;
}
.second_header {
  margin-top: 25px;
}

.second_header ul {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

@media (max-width: 1331px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
  }
}
@media (max-width: 1107px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
  }
}
@media (max-width: 1090px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
  }
}
@media (max-width: 990px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media (max-width: 782px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: x-small;
  }
}
@media (max-width: 478px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: xx-small;
  }
}
@media (max-width: 370px) {
  .second_header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 10px;
  }
}

.second_header ul li {
  list-style: none;
}

.hero {
  text-align: center;
  padding-top: 150px;
}

.hero h2 {
  color: var(--primary-color);
  padding-bottom: 40px;
  font-size: 40px;
}
.btn {
  cursor: pointer;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-bottom: 40px;
}

.hero p {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: x-small;
}

.heroimg {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap: 60px;
}

@media (max-width: 1100px) {
  .heroimg {
    gap: 70px;
  }
}
@media (max-width: 925px) {
  .heroimg {
    gap: 20px;
  }
}
@media (max-width: 465px) {
  .heroimg {
    gap: 20px;
  }
}
.img1 {
  top: 500px;
  left: 150px;
  background-image: url(./img1.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 18%;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 1100px) {
  .img1 {
    height: 35vh;
    width: 18%;
  }
}
@media (max-width: 809px) {
  .img1 {
    height: 20vh;
    width: 15%;
  }
}

.img1:hover {
  box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -webkit-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -moz-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  transform: scale(1.1);
}

.img2:hover {
  box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -webkit-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -moz-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  transform: scale(1.1);
}

.img3:hover {
  box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -webkit-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -moz-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  transform: scale(1.1);
}
.img4:hover {
  box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -webkit-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  -moz-box-shadow: -1px -1px 10px 7px rgba(21, 212, 86, 0.27);
  transform: scale(1.1);
}

.img2 {
  top: 500px;
  left: 408px;
  background-image: url(./img2.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 18%;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 1100px) {
  .img2 {
    height: 35vh;
    width: 18%;
  }
}
@media (max-width: 809px) {
  .img2 {
    height: 20vh;
    width: 15%;
  }
}
.img3 {
  top: 500px;
  left: 667px;
  background-image: url(./img3.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 18%;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 1100px) {
  .img3 {
    height: 35vh;
    width: 18%;
  }
}
@media (max-width: 809px) {
  .img3 {
    height: 20vh;
    width: 15%;
  }
}
.img4 {
  top: 500px;
  left: 925px;
  background-image: url(./img4.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 18%;
  transition: 0.5s all ease-in-out;
}
@media (max-width: 1100px) {
  .img4 {
    height: 35vh;
    width: 18%;
  }
}
@media (max-width: 809px) {
  .img4 {
    height: 20vh;
    width: 15%;
  }
}
@media (min-width: 1321px) {
  .heroimg {
    display: flex;
  }
  .img1 {
    position: initial;
  }
}

.des_wrapper {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 1265px) {
  .des_wrapper {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.country_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20em;
}

@media (max-width: 1265px) {
  .country_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
  }
}
@media (max-width: 880px) {
  .country_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
  }
}

@media (max-width: 538px) {
  .country_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}
.line_maker {
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.line {
  height: 2px;
  width: 150px;
  background-color: var(--secondary-color);
}
@media (max-width: 700px) {
  .line {
    height: 2px;
    width: 100px;
    background-color: var(--secondary-color);
  }
}

@media (max-width: 538px) {
  .line {
    height: 2px;
    width: 70px;
    background-color: var(--secondary-color);
  }
}

.line_maker {
  display: flex;
}

.wrapper2 {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 70px;
  padding-top: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding-top: 60px;
}

@media (max-width: 1465px) {
  .content {
    display: flex;
    gap: 30px;
    padding-top: 60px;
  }
}
@media (max-width: 1133px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
  }
}

.content img {
  width: 50%;
  height: 50vh;
}

@media (max-width: 1465px) {
  .content img {
    width: 30%;
    height: 30vh;
  }
}
@media (max-width: 1133px) {
  .content img {
    width: 60%;
    height: 60vh;
  }
}
@media (max-width: 661px) {
  .content img {
    width: 40%;
    height: 40vh;
  }
}

@media (max-width: 520px) {
  .content img {
    width: 70%;
    height: 40vh;
  }
}

@media (max-width: 396px) {
  .content img {
    width: 70%;
    height: 30vh;
  }
}
.money {
  display: flex;
  gap: 40px;
  padding-bottom: 50px;
}

@media (max-width: 1133px) {
  .text_con {
    text-align: center;
  }
}
.text_con p {
  line-height: 28px;
}

@media (max-width: 673px) {
  .text_con p {
    font-size: smaller;
    line-height: 28px;
  }
}
@media (max-width: 520px) {
  .text_con p {
    font-size: x-small;
    line-height: 18px;
  }
}

@media (max-width: 396px) {
  .text_con p {
    font-size: xx-small;
    line-height: 18px;
  }
}
.text_con button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  border-radius: 50px;
  margin: 20px 0;
  padding: 20px 40px;
}
